# .gitignore

Token/*.env
JSON Files/Explosion_Command_Data/*.json
JSON Files/Vol_Command_Data/*.json
JSON Files/Global Data/*.json
JSON Files/*.json

Images/Downloaded Images/*.png

favorites.json

test.py
test2.py
twitch_api_call.py

help_gitignore.txt
twitch_refresh_token.txt

explosion_command_old_code.txt
*.ttf
.pre-commit-config.yaml
.cache_ggshield

Last commit