# .gitignore

Token/*.env
JSON Files/*.json
Images\Bot Logo\default_image_dev_bot.png

favorites.json

test.py
test2.py
twitch_api_call.py

help_gitignore.txt
twitch_refresh_token.txt

explosion_command_old_code.txt
*.ttf